---

---

<section>
  <article>
    <p>
      Min ambition er at designe og programmere fede, intuitive og ikke mindst
      bæredygtige brugeroplevelser baseret på moderne, innovative teknologier.
    </p>
    <p>
      Jeg vil arbejde med frontend, fordi det giver mig muligheden for at
      omsætte mine designidéer til spændende og brugbare webapplikationer. Jeg
      nyder at finde balancen mellem flot design og god funktionalitet, og jeg
      stræber altid efter at skabe brugervenlige løsninger ved hjælp af mine
      evner inden for <b>HTML, CSS, JavaScript, backend og design</b>.
    </p>
  </article>
  <div id="social-icons">
    <a href="mailto:axel@wiingaard.net"
      ><img src="src/icons/email-icon.svg" alt="Mail" />
    </a>
    <a href="https://github.com/axwii"
      ><img src="src/icons/github-icon.svg" alt="Github" />
    </a>
    <a href="https://www.linkedin.com/in/axel-wiingaard/"
      ><img src="src/icons/linkedin-icon.svg" alt="LinkedIn" /></a
    >
  </div>
</section>

<style>
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  article {
    max-width: 70ch;
    p {
      margin-bottom: 1em;
    }
  }

  article p:first-of-type {
    text-indent: 2em; /* Indent the first line of the first paragraph */
    font-weight: bold;
  }

  #social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: 0 1rem;
    }
    img {
      height: 2rem;
      width: auto;
      object-fit: contain;
      transition:
        box-shadow 0.3s ease,
        border-radius 0.3s ease;
    }
  }

  #social-icons img:hover {
    box-shadow: 0 0 20px rgba(232, 232, 232, 0.5);
    border-radius: 50%;
  }
</style>
