---

---

<section>
  <article>
    <p>
      Jeg vil arbejde med frontend, fordi det giver mig muligheden for at
      omsætte mine designidéer til spændende og brugbare webapplikationer. Jeg
      nyder at finde balancen mellem flot design og god funktionalitet, og jeg
      stræber altid efter at skabe brugervenlige løsninger ved hjælp af mine
      evner inden for HTML, CSS, JavaScript, backend og design.
    </p>
    <p>
      Min ambition er at designe og programmere fede, intuitive og ikke mindst
      bæredygtige brugeroplevelser baseret på moderne, innovative teknologier.
    </p>
  </article>
  <button>LinkedIn</button>
</section>

<style>
    section {
        background-color: #324043;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>