---

---

<section>
  <h1>Axel</h1>
  <h2>21 år, webudvikler</h2>
  <h3>Danmarksmester & 3x regional mester i gokart</h3>
  <h4>I branchen siden 2019</h4>
  <img src="/assets/images/axel.jpg" alt="" />
</section>

<style>
  img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    filter: grayscale(100%);
  }
  section {
    background-color: #120f0d;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h4 {
    text-decoration: underline 2px #eb5e00;
  }
</style>
