---

---

<section>
  <h1>Axel</h1>
  <h2>21 år, webudvikler</h2>
  <h3>Danmarksmester & 3x regional mester i gokart</h2>
  <h4>I branchen siden 2019</h4>
  <!-- <article>
      <p>Axel, 21 år, webudvikler</p>
      <p>Danmarksmester & 3x regional mester i gokart</p>
      <p>Været i branchen i siden 2019</p>
  </article> -->
  <img src="src/assets/images/axel.jpg" alt="" />
</section>

<style>
  img {
    width: 100px;
  }
  section {
    background-color: #245f1086;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
  }
</style>
