---

---

<section>
  <h3>Tidslinje</h3>
  <p>Arbejde og uddannelse.</p>
  <article>
    <ul>
      <li>
        <h4>Wiingaard racing</h4>
        <h5>2018 - NU</h5>
        <p>Freelance.</p>
      </li>
      <li>
        <h4>Eksponent</h4>
        <h5>2020 - 2023</h5>
        <p>Junior web dev.</p>
      </li>
      <li>
        <h4>Kosan Gascenter</h4>
        <h5>2023 - NU</h5>
        <p>It, web dev, SoMe.</p>
      </li>
    </ul>

    <ul>
      <li>
        <h4>EUX Data- og kommunikation</h4>
        <h5>2019 - 2023</h5>
        <p>med speciale i programmering.</p>
      </li>
      <li>
        <h4>Multimediedesigner</h4>
        <h5>2023 - NU</h5>
        <p>Professionsbachelor i Webudvikling.</p>
      </li>
    </ul>
  </article>
</section>

<style>
  section {
    padding: 4rem 0;
  }
  article {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 2rem;
  }
</style>
