---
---

<section>
    <h2>Timeline</h2>
    <p>Section content goes here.</p>

    <ul>
        <li>
            <h3>2019</h3>
            <p>Section content goes here.</p>
        </li>
        <li>
            <h3>2020</h3>
            <p>Section content goes here.</p>
        </li>
        <li>
            <h3>2021</h3>
            <p>Section content goes here.</p>
        </li>
</section>