---
import "../styles/global.css";
const { title = "" } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/global.css" />
    <title>{title} — AskExperts</title>
  </head>
  <body>
    <header></header>
    <main>
      <slot />
    </main>
    <footer>
      <section>
        <form name="contact" method="POST" data-netlify="true">
          <p>Hej, Axel.</p>
          <p>
            Jeg er <input type="text" name="name" placeholder="Navn" required />
            fra
            <input type="text" name="company" placeholder="Firma" required />
          </p>
          <p>Jeg er interesseret i at snakke med dig om praktik.</p>
          <p>
            Du kan skrive til mig på
            <input type="email" name="email" placeholder="E-mail" required />
          </p>
          <p>Ser frem til at høre fra dig!</p>
          <button type="submit">Indsend</button>
        </form>
      </section>
    </footer>
  </body>
</html>

<style>
  footer {
    background-color: #40445c;
    color: #ffffe3;
    padding: 20px;
  }

  input[type="text"],
  input[type="email"] {
    color: #ffffe3;
    border: none;
    border-bottom: 1px solid #ffffe3;
    padding-left: 5px;
    margin: 10px 7px;
  }

  button {
    border: solid 1px #ffffe3;
    padding: 5px 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: #ffffe3;
    color: #40445c;
  }

  form p {
    margin: 0.3rem 0px;
  }
  form p:last-of-type {
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
