---
import "../styles/global.css";
const { title = "" } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/global.css" />
    <title>{title} | Axel Wiingaard</title>
  </head>
  <body>
    <header></header>
    <main>
      <slot />
    </main>
    <footer>
      <p>© 2024 Axel Wiingaard</p>
    </footer>
  </body>
</html>

<style>
  footer {
    border-top: 1px solid #666653;
    background-color: #120f0d;
    color: #ffffe3;
    padding: 2rem;
    display: grid;
    place-items: center;
  }
</style>
