---
import "../styles/global.css";
const { title = "" } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/global.css" />
    <title>{title} — AskExperts</title>
  </head>
  <body>
    <header></header>
    <main>
      <slot />
    </main>
    <footer>
      <section>
        <p>© 2024 Axel Wiingaard</p>
      </section>
    </footer>
  </body>
</html>

<style>
  footer {
    background-color: #0b0b0a;
    color: #ffffe3;
    padding: 20px;
  }
</style>
